#equilateral{
    width:0;
    border-right:25px solid transparent;
    border-left:25px solid transparent;
    border-bottom:25px solid #500;
}
#isoscele{
    width:0;
    border: left 100px solid transparent;
    border-right:100px solid transparent;
    border-bottom:80px solide red; 
}
#scalane{
    width:0;
    border: left 100px solid transparent;
    border-right:200px solid transparent;
    border-bottom:80px solide red; 
}
#nottrianngle{
    width:0;
    border: left 100px solid transparent;
    border-right:100px solid transparent;
    border-bottom:200px solide red; 
}
body{
    background-color: gray;
    font-size: 25px;
    text-align: center;
}